.page {
  padding: 5px;
  display: flex;
  gap: 8px;
  overflow: hidden;
}

.emptyState {
  text-align: center;
  padding: 2rem;
  color: var(--foreground);
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--card);
  width: 40dvw;
  font-size: 30px;
  font-weight: 800;
}
